systemLog:
  destination: file
  path: {{ mongodb_log_dir }}/mongos.log
  logAppend: true

net:
  port: {{ mongos_port }}
  bindIp: 0.0.0.0

processManagement:
  fork: true
  pidFilePath: /var/run/mongodb/mongos.pid

security:
  keyFile: {{ mongodb_keyfile_path }}

sharding:
  configDB: "{{ mongoc_replica_set_name }}/{{ groups['mongoc_servers'] | map('regex_replace', '^(.*)$', '\\1:' + (mongoc_port | string)) | join(',') }}"
