{% if (current_team_index | default(0)) == 0 %}
---
aap_teams:
{% endif %}
  - name: "{{ current_teams_asset_value.name }}"
    description: !unsafe '{{ template_overrides_resources.team[current_teams_asset_value.name].description
                     | default(template_overrides_global.team.description)
                     | default(current_teams_asset_value.description) | regex_replace("'", "''") }}'
    organization: "{{ current_teams_asset_value.summary_fields.organization.name }}"
{% if last_team | default(true) | bool %}
...
{% endif %}
