{% if first_credential_input_source | default(true) | bool %}
---
controller_credential_input_sources:
{% endif %}
{% for input_source in credential_input_sources_lookvar %}
  - target_credential: {{ current_credential['name'] }}
    source_credential: {{ input_source['summary_fields']['source_credential']['name'] }}
    input_field_name: {{ input_source['input_field_name'] }}
    description: {{ input_source['description']}}
    metadata:
{{ input_source['metadata'] | to_nice_yaml | indent(6, true) }}
{% endfor %}
{% if last_credential | default(true) | bool %}
...
{% endif %}
