{% if (current_credential_index | default(0)) == 0 %}
---
controller_credentials:
{% endif %}
  - name: "{{ current_credentials_asset_value.name }}"
    description: !unsafe '{{ template_overrides_resources.credential[current_credentials_asset_value.name].description
                     | default(template_overrides_global.credential.description)
                     | default(current_credentials_asset_value.description) | regex_replace("'", "''") }}'
    credential_type: "{{ current_credentials_asset_value.summary_fields.credential_type.name }}"
{% if current_credentials_asset_value.organization is defined and current_credentials_asset_value.organization is not none %}
    organization: "{{ current_credentials_asset_value.summary_fields.organization.name }}"
{% else %}
    organization: "{{ organization }}"
{% endif %}
{% if template_overrides_resources.credential[current_credentials_asset_value.name].inputs is defined
      or (current_credentials_asset_value.inputs is defined and current_credentials_asset_value.inputs is not match('{}')) %}
    inputs:
{% if show_encrypted is defined and show_encrypted %}
{{ current_credentials_asset_value.inputs | to_nice_yaml(indent=2, sort_keys=False) | indent(width=6, first=True) }}
{% else %}
{{ template_overrides_resources.credential[current_credentials_asset_value.name].inputs
   | default(current_credentials_asset_value.inputs)
   | to_nice_yaml(indent=2, sort_keys=False) | indent(width=6, first=True) | replace("$encrypted$", "\'\'") }}
{% endif %}
{% endif %}
{% if last_credential | default(true) | bool %}
...
{% endif %}
