{% if first_inventory_source | default(true) | bool %}
---
controller_inventory_sources:
{% endif %}
{% for inventory_source in current_inventory_sources_asset_value %}
  - name: "{{ inventory_source.name }}"
    description: !unsafe '{{ template_overrides_resources.inventory_source[inventory_source.name].description
                     | default(template_overrides_global.inventory_source.description)
                     | default(inventory_source.description) | regex_replace("'", "''") }}'
{% if inventory_source.summary_fields.organization is defined %}
    organization: "{{ inventory_source.summary_fields.organization.name }}"
{% endif %}
    source: "{{ template_overrides_resources.inventory_source[inventory_source.name].source
                | default(template_overrides_global.inventory_source.source)
                | default(inventory_source.source)
                | default('ToDo: The source of the inventory_source was originally missing and must be specified', true) }}"
{% if template_overrides_resources.inventory_source[inventory_source.name].source_project is defined
      or template_overrides_global.inventory_source.source_project is defined
      or (inventory_source.source_project is defined and inventory_source.source_project != None) %}
    source_project: "{{ template_overrides_resources.inventory_source[inventory_source.name].source_project
                        | default(template_overrides_global.inventory_source.source_project)
                        | default(inventory_source.summary_fields.source_project.name) }}"
{% endif %}
{% if template_overrides_resources.inventory_source[inventory_source.name].source_path is defined
      or template_overrides_global.inventory_source.source_path is defined
      or inventory_source.source_path is defined %}
    source_path: "{{ template_overrides_resources.inventory_source[inventory_source.name].source_path
                     | default(template_overrides_global.inventory_source.source_path)
                     | default(inventory_source.source_path) }}"
{% endif %}
{% if template_overrides_resources.inventory_source[inventory_source.name].source_vars is defined
      or template_overrides_global.inventory_source.source_vars is defined
      or (inventory_source.source_vars is defined and inventory_source.source_vars != '---' and inventory_source.source_vars != '') %}
    source_vars:
      {{ template_overrides_resources.inventory_source[inventory_source.name].source_vars
         | default(template_overrides_global.inventory_source.source_vars)
         | default(inventory_source.source_vars)
         | from_yaml | to_nice_yaml(indent=2, sort_keys=False) | indent(width=6, first=False) | regex_replace('(^[^:]*): (.*){([{%])', '\\g<1>: !unsafe \\g<2>{\\g<3>', multiline=True)}}
{%- endif %}
    inventory: "{{ inventory_source.summary_fields.inventory.name }}"
    update_on_launch: "{{ template_overrides_resources.inventory_source[inventory_source.name].update_on_launch
                          | default(template_overrides_global.inventory_source.update_on_launch)
                          | default(inventory_source.update_on_launch) }}"
    overwrite: "{{ template_overrides_resources.inventory_source[inventory_source.name].overwrite
                   | default(template_overrides_global.inventory_source.overwrite)
                   | default(inventory_source.overwrite) }}"
{% if template_overrides_global.inventory_source.credential is defined
      or template_overrides_global.inventory_source.credential is defined
      or inventory_source.summary_fields.credential is defined %}
    credential: "{{ template_overrides_resources.inventory_source[inventory_source.name].credential
                    | default(template_overrides_global.inventory_source.credential)
                    | default(inventory_source.summary_fields.credential.name) }}"
{% endif %}
{% set query_notification_error = query(controller_api_plugin, inventory_source.related.notification_templates_error,
                     host=aap_hostname, oauth_token=aap_oauthtoken, verify_ssl=aap_validate_certs,
                     return_all=true, max_objects=query_controller_api_max_objects) %}
{% set query_notification_started = query(controller_api_plugin, inventory_source.related.notification_templates_started,
                     host=aap_hostname, oauth_token=aap_oauthtoken, verify_ssl=aap_validate_certs,
                     return_all=true, max_objects=query_controller_api_max_objects) %}
{% set query_notification_success = query(controller_api_plugin, inventory_source.related.notification_templates_success,
                     host=aap_hostname, oauth_token=aap_oauthtoken, verify_ssl=aap_validate_certs,
                     return_all=true, max_objects=query_controller_api_max_objects) %}
{% if query_notification_error | length > 0 %}
    notification_templates_error:
{% for notification_error in query_notification_error %}
      - "{{ notification_error.name }}"
{% endfor %}
{% endif %}
{% if query_notification_started | length > 0 %}
    notification_templates_started:
{% for notification_started in query_notification_started %}
      - "{{ notification_started.name }}"
{% endfor %}
{% endif %}
{% if query_notification_success | length > 0 %}
    notification_templates_success:
{% for notification_success in query_notification_success %}
      - "{{ notification_success.name }}"
{% endfor %}
{% endif %}
{% endfor %}
{% if (last_inventory | default(true) | bool) and (last_inventory_source | default(true) | bool) %}
...
{% endif %}
