---
eda_event_streams:
{% for eda_event_stream in current_eda_event_streams_asset_value %}
  - name: "{{ eda_event_stream.name }}"
    test_mode: {{ template_overrides_resources.eda_event_stream[eda_event_stream.name].test_mode
                  | default(template_overrides_global.eda_event_stream.test_mode)
                  | default(eda_event_stream.test_mode) }}
    additional_data_headers: "{{ template_overrides_resources.eda_event_stream[eda_event_stream.name].additional_data_headers
                                 | default(template_overrides_global.eda_event_stream.additional_data_headers)
                                 | default(eda_event_stream.additional_data_headers) }}"
    organization: "{{ template_overrides_resources.eda_event_stream[eda_event_stream.name].organization.name
                      | default(template_overrides_global.eda_event_stream.organization.name)
                      | default(eda_event_stream.organization.name) }}"
    credential_name: "{{ template_overrides_resources.eda_event_stream[eda_event_stream.name].eda_credential.name
                         | default(template_overrides_global.eda_event_stream.eda_credential.name)
                         | default(eda_event_stream.eda_credential.name) }}"
    event_stream_type: "{{ template_overrides_resources.eda_event_stream[eda_event_stream.name].event_stream_type
                           | default(template_overrides_global.eda_event_stream.event_stream_type)
                           | default(eda_event_stream.event_stream_type) }}"
{% endfor %}
...
