---
eda_credentials:
{% for eda_credential in current_eda_credentials_asset_value %}
  - name: "{{ eda_credential.name }}"
    description: "{{ template_overrides_resources.eda_credential[eda_credential.name].description
                     | default(template_overrides_global.eda_credential.description)
                     | default(eda_credential.description) }}"
{% if eda_credential.credential_type is defined %}
    credential_type:
{{ eda_credential.credential_type | dict2items | rejectattr('key', 'equalto', 'id') | list | items2dict | to_nice_yaml(indent=2,sort_keys=False) | indent(width=6, first=True) }}
{%- endif %}
{% if eda_credential.organization is defined %}
    organization:
{{ eda_credential.organization | dict2items | rejectattr('key', 'equalto', 'id') | list | items2dict | to_nice_yaml(indent=2,sort_keys=False) | indent(width=6, first=True) }}
{%- endif %}
{% if eda_credential.references is defined %}
    references: "{{ eda_credential.references }}"
{% endif %}
{% if eda_credential.inputs is defined %}
    inputs:
{{ template_overrides_resources.eda_credential[eda_credential.name].inputs
   | default(eda_credential.inputs) | to_nice_yaml(indent=2,sort_keys=False) | indent(width=6, first=True) }}
{%- endif %}
{% endfor %}
...
