---
eda_decision_environments:
{% for eda_decision_environment in current_eda_decision_environments_asset_value %}
  - name: "{{ eda_decision_environment.name }}"
    description: "{{ template_overrides_resources.eda_decision_environment[eda_decision_environment.name].description
                     | default(template_overrides_global.eda_decision_environment.description)
                     | default(eda_decision_environment.description) }}"
    image_url: "{{ eda_decision_environment.image_url }}"
    organization: "{{ (query('ansible.platform.gateway_api', 'api/eda/v1/organizations/',
                            host=aap_hostname, oauth_token=aap_oauthtoken, verify_ssl=aap_validate_certs,
                            return_all=true, max_objects=query_eda_api_max_objects) | selectattr('id', 'equalto', eda_decision_environment.organization_id) | first).name }}"
    eda_credential: "{{ (query('ansible.platform.gateway_api', 'api/eda/v1/eda-credentials/',
                            host=aap_hostname, oauth_token=aap_oauthtoken, verify_ssl=aap_validate_certs,
                            return_all=true, max_objects=query_eda_api_max_objects) | selectattr('id', 'equalto', eda_decision_environment.eda_credential_id) | first).name }}"
{% endfor %}
...
