---
gateway_service_clusters:
{% for current_service_cluster in current_gateway_service_clusters_asset_value %}
  - name: "{{ template_overrides_resources.gateway_service_cluster[current_service_cluster.name].name
                     | default(template_overrides_global.gateway_service_cluster.name)
                     | default(current_service_cluster.name) }}"
    service_type: "{{ template_overrides_resources.gateway_route[current_service_cluster.name].service_type
                     | default(template_overrides_global.gateway_route.service_type)
                     | default(current_service_cluster.service_type) }}"
    outlier_detection_enabled: "{{ template_overrides_resources.gateway_route[current_service_cluster.name].outlier_detection_enabled
                     | default(template_overrides_global.gateway_route.outlier_detection_enabled)
                     | default(current_service_cluster.outlier_detection_enabled) }}"
    outlier_detection_consecutive_5xx: "{{ template_overrides_resources.gateway_route[current_service_cluster.name].outlier_detection_consecutive_5xx
                     | default(template_overrides_global.gateway_route.outlier_detection_consecutive_5xx)
                     | default(current_service_cluster.outlier_detection_consecutive_5xx) }}"
    outlier_detection_interval_seconds: "{{ template_overrides_resources.gateway_route[current_service_cluster.name].outlier_detection_interval_seconds
                     | default(template_overrides_global.gateway_route.outlier_detection_interval_seconds)
                     | default(current_service_cluster.outlier_detection_interval_seconds) }}"
    outlier_detection_base_ejection_time_seconds: "{{ template_overrides_resources.gateway_route[current_service_cluster.name].outlier_detection_base_ejection_time_seconds
                     | default(template_overrides_global.gateway_route.outlier_detection_base_ejection_time_seconds)
                     | default(current_service_cluster.outlier_detection_base_ejection_time_seconds) }}"
    outlier_detection_max_ejection_percent: "{{ template_overrides_resources.gateway_route[current_service_cluster.name].outlier_detection_max_ejection_percent
                     | default(template_overrides_global.gateway_route.outlier_detection_max_ejection_percent)
                     | default(current_service_cluster.outlier_detection_max_ejection_percent) }}"
    health_checks_enabled: "{{ template_overrides_resources.gateway_route[current_service_cluster.name].health_checks_enabled
                     | default(template_overrides_global.gateway_route.health_checks_enabled)
                     | default(current_service_cluster.health_checks_enabled) }}"
    health_check_timeout_seconds: "{{ template_overrides_resources.gateway_route[current_service_cluster.name].health_check_timeout_seconds
                     | default(template_overrides_global.gateway_route.health_check_timeout_seconds)
                     | default(current_service_cluster.health_check_timeout_seconds) }}"
    health_check_interval_seconds: "{{ template_overrides_resources.gateway_route[current_service_cluster.name].health_check_interval_seconds
                     | default(template_overrides_global.gateway_route.health_check_interval_seconds)
                     | default(current_service_cluster.health_check_interval_seconds) }}"
    health_check_unhealthy_threshold: "{{ template_overrides_resources.gateway_route[current_service_cluster.name].health_check_unhealthy_threshold
                     | default(template_overrides_global.gateway_route.health_check_unhealthy_threshold)
                     | default(current_service_cluster.health_check_unhealthy_threshold) }}"
    health_check_healthy_threshold: "{{ template_overrides_resources.gateway_route[current_service_cluster.name].health_check_healthy_threshold
                     | default(template_overrides_global.gateway_route.health_check_healthy_threshold)
                     | default(current_service_cluster.health_check_healthy_threshold) }}"
{% endfor %}
...
