[defaults]
host_key_checking = False
stdout_callback = yaml
callbacks_enabled = profile_tasks
interpreter_python = auto_silent

[galaxy]
server_list = certified_content,validated_content,community

[galaxy_server.certified_content]
url=https://console.redhat.com/api/automation-hub/content/published/
token=${ANSIBLE_GALAXY_SERVER_CERTIFIED_TOKEN}

[galaxy_server.validated_content]
url=https://console.redhat.com/api/automation-hub/content/validated/
token=${ANSIBLE_GALAXY_SERVER_VALIDATED_TOKEN}

[galaxy_server.community]
url=https://galaxy.ansible.com/
