[Unit]
Description=MongoDB config server replica set member ({{ mongoc_replica_set_name }})
Documentation=https://www.mongodb.com/docs/manual/
After=network-online.target
Wants=network-online.target

[Service]
User=mongod
Group=mongod
RuntimeDirectory=mongodb
RuntimeDirectoryMode=0755
ExecStart=/usr/bin/mongod --config /etc/mongod-configsvr.conf
Type=forking
PIDFile=/var/run/mongodb/mongod-configsvr.pid
LimitFSIZE=infinity
LimitCPU=infinity
LimitAS=infinity
LimitNOFILE=64000
LimitNPROC=64000
LimitMEMLOCK=infinity
TasksMax=infinity
TasksAccounting=false

[Install]
WantedBy=multi-user.target
